<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} Not Found</title><link rel="icon" href="https://img.icons8.com/fluent/452/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <h1> {{errorMessage}} not found</h1>
</div>
{{>footer}}
  </body>
</html>